.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #000000;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 64px;
  /* выше установили ограничения для секции */
}

.logo {
  background-size: contain;
  width: 183px;
  background-repeat: no-repeat;
}

.logo_place_header {
  background-image: url('../images/logo_place_header.svg');
  position: absolute;
  top: 30px;
  left: 64px;
  height: 32px;
  z-index: 2;
}

.header__title {
  padding: 0;
  margin: 0;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  z-index: 2;
}

.header__subtitle {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  background-image: url('../images/header-image.png');
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

.description {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  padding: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__paragraph {
  margin: 0;
  padding: 0 0 30px;
}
.two-columns__paragraph:nth-of-type(3n) {
  margin: 0;
  padding: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  padding: 100px 0;
}

.section-title {
  margin: 0 auto 20px;
  padding: 0;
  text-align: center;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
}

.section-subtitle {
  padding: 0;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
}

.table {
  display: flex;
  width: 1100px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
}

.table__cell {
  width: 250px;
  display: flex;
  margin-top: 60px;
  flex-direction: column;
}

.table__heading {
  padding: 0;
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
}

.table__text {
  margin: 20px 0 0 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
}

.feynman {
  padding: 100px 0 0;
  background-color: #f2f2f2;
  background-image: url('../images/feynman.png');
  background-repeat: no-repeat;
  background-position: bottom left;
  position: relative;
  min-height: 790px;
  box-sizing: border-box;
}

.feynman__title {
  padding: 0;
  margin: 0 auto 70px;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  box-sizing: border-box;
}

.feynman__subtitle {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
}

.feynman__link {
  text-decoration: none;
  position: absolute;
  right: 48px;
  top: 50%;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
}

.kaufman {
  background-color: #1f1f1f;
  padding: 90px 0;
  position: relative;
  overflow: hidden;
}

.section-title_theme_dark {
  position: relative;
  color: white;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: white;
  position: relative;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
  z-index: 1;
}

.kaufman__triangle {
  height: 877px;
  width: 877px;
  background-image: url('../images/kaufman-triangle.svg');
  background-size: cover;
  position: absolute;
  top: 0;
  right: -210px;
}

.footer {
  background-color: #1f1f1f;
  padding: 60px 0 40px;
}

.footer__columns {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  min-height: 350px;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  background-image: url('../images/logo_place_footer.svg');
  height: 35px;
}

.footer__author {
  margin: 0;
  padding: 18px 0;
  color: white;
  line-height: 25px;
  font-size: 18px;
}

.footer__heading {
  padding: 0;
  margin: 0;
  color: white;
  line-height: 30px;
  font-size: 18px;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 16px;
  line-height: 30px;
  font-size: 18px;
  padding: 0;
  list-style-type: none;
}

.footer__column-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}

.footer__social-icon {
  margin-right: 10px;
  padding: 0;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
