@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.header__square-pic, .kaufman__triangle {
  animation: rotation 20s linear 0s infinite normal forwards running;
}
